<h1></h1>
<div>
  <ul>
    <li>Name: <%= @attraction.name %></li>
    <li>Total users: <%= @attraction.users.size %></li>
    <li>Ticket Requirement: <%= @attraction.tickets %></li>
    <li>Minimum Height: <%= @attraction.min_height %></li>
    <li>Nausea Rating: <%= @attraction.nausea_rating %></li>
    <li>Happiness Rating: <%= @attraction.happiness_rating %></li>

  </ul>
</div>
